.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.menu__title {
  margin: 0 0 24px 0;
  align-self: center;
  max-width: 800px;
  padding-top: 100px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  align-self: center;
  max-width: 800px;
  margin: 0 0 100px 0;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}
