.page {
  background-color: #fff;
  background-image: url(./../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
